In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv("C:/Users/admin/Desktop/sem 3/seema maam/Big mart sales dataset/Train_UWu5bXk.csv")
test=pd.read_csv("C:/Users/admin/Desktop/sem 3/seema maam/Big mart sales dataset/Test_u94Q5KV.csv")

In [3]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [5]:
train.shape

(8523, 12)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 566.0+ KB

In [7]:
#is there any null values?
train.isnull().sum()/len(train)*100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [8]:
# Substituting the missing values with mean for Item_Weight Column
train["Item_Weight"]=train["Item_Weight"].fillna(np.mean(train["Item_Weight"]))

In [9]:
#Imputing nan values using fillna "backwordFill" method
train["Outlet_Size"]=train["Outlet_Size"].fillna(method="bfill")

In [10]:
train.pivot_table(index="Outlet_Size",values="Item_Outlet_Sales")

             Item_Outlet_Sales
Outlet_Size
High               2147.162776
Medium             2441.709463
Small              1882.829379

In [11]:
#lets check again if there are anymore null values
train.isnull().sum()/len(train)*100

Item_Identifier              0.0
Item_Weight                  0.0
Item_Fat_Content             0.0
Item_Visibility              0.0
Item_Type                    0.0
Item_MRP                     0.0
Outlet_Identifier            0.0
Outlet_Establishment_Year    0.0
Outlet_Size                  0.0
Outlet_Location_Type         0.0
Outlet_Type                  0.0
Item_Outlet_Sales            0.0
dtype: float64

In [12]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,High,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:
train["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [14]:
#Data cleaning for "Item_Fat_Content"
train["Item_Fat_Content"] =train["Item_Fat_Content"].str.replace("reg","Regular")
train["Item_Fat_Content"] =train["Item_Fat_Content"].str.replace("LF","Low Fat")
train["Item_Fat_Content"] =train["Item_Fat_Content"].str.replace("low fat","Low Fat")
train["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [15]:
# Checking the outletType with the its frequency of each category
train["Outlet_Type"].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [16]:
# Import label encoder 
from sklearn import preprocessing

In [17]:
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in differnt columns wherever needed
train['Item_Identifier']= label_encoder.fit_transform(train['Item_Identifier'])

train['Item_Fat_Content']= label_encoder.fit_transform(train['Item_Fat_Content'])

train['Item_Type']= label_encoder.fit_transform(train['Item_Type'])

train['Outlet_Identifier']= label_encoder.fit_transform(train['Outlet_Identifier'])

train['Outlet_Size']= label_encoder.fit_transform(train['Outlet_Size'])

train['Outlet_Location_Type']= label_encoder.fit_transform(train['Outlet_Location_Type'])

train['Outlet_Type']= label_encoder.fit_transform(train['Outlet_Type'])

train['Outlet_Establishment_Year']= label_encoder.fit_transform(train['Outlet_Establishment_Year'])

In [ ]:
Item_Identifier	Item_Weight	Item_Fat_Content	Item_Visibility	Item_Type	Item_MRP	
Outlet_Identifier	Outlet_Establishment_Year	Outlet_Size	Outlet_Location_Type	Outlet_Type

In [18]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.30,0,0.016047,4,249.8092,9,4,1,0,1,3735.1380
1,8,5.92,1,0.019278,14,48.2692,3,8,1,2,2,443.4228
2,662,17.50,0,0.016760,10,141.6180,9,4,1,0,1,2097.2700
3,1121,19.20,1,0.000000,6,182.0950,0,3,0,2,0,732.3800
4,1297,8.93,0,0.000000,9,53.8614,1,1,0,2,1,994.7052

In [19]:
# Log transformed Dependent Variable
Y_train = train["Item_Outlet_Sales"].values

# Log transformed Independent Variable
X_train=train[["Item_Type","Item_MRP","Outlet_Identifier","Outlet_Establishment_Year","Outlet_Type","Outlet_Size","Item_Fat_Content"]].values

In [20]:
#importing libraries to perform Linear Regression, MSE & R square
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt
from sklearn.linear_model import LinearRegression

In [21]:
X_train=X_train.reshape(-1, 1)
Y_train=Y_train.reshape(1, -1)

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
print(scaler.fit(X_train))
StandardScaler(copy=True, with_mean=True, with_std=True)
print(scaler.fit(Y_train))

StandardScaler(copy=True, with_mean=True, with_std=True)
StandardScaler(copy=True, with_mean=True, with_std=True)

In [30]:
print(X_train.shape)

(59661, 1)

In [31]:
print(Y_train.shape)

(1, 8523)

In [32]:
Y_train1 = Y_train.transpose()

In [33]:
print(Y_train1.shape)

(8523, 1)

In [ ]:
linReg= LinearRegression()
linReg.fit(X_train,Y_train1)
y_pred=linReg.predict(Y_train1)